@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:300,400,400i,500,700");
body {
  font-size: 13px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  background-color: #303030;
  font-family: "Roboto", "Noto Sans", "Arial", sans-serif;
  color: rgba(255, 255, 255, 0.7); }
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px; } }
  body[data-debug] * {
    border: 1px dotted blue;
    background-color: rgba(0, 0, 255, 0.15); }

.typography {
  font-size: 13px;
  font-weight: 400; }
  @media screen and (max-width: 768px) {
    .typography {
      font-size: 14px; } }
  .typography p {
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px; }
  .typography blockquote {
    color: rgba(0, 0, 0, 0.54);
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 8px;
    font-style: italic;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 24px; }
    .typography blockquote i, .typography blockquote em {
      font-style: normal; }
    .typography blockquote p {
      margin-top: 0px;
      margin-bottom: 0px; }
    .typography blockquote.info {
      background-color: #ffecb3;
      position: relative;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 2px;
      border-left: none;
      font-style: normal;
      min-height: 40px;
      padding-top: 12px;
      padding-right: 8px;
      padding-bottom: 12px;
      padding-left: 64px;
      margin-right: 16px;
      margin-left: 16px; }
      @media screen and (max-width: 768px) {
        .typography blockquote.info {
          margin-right: 8px;
          margin-left: 8px; } }
      .typography blockquote.info::before {
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 24px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
  .typography h1 {
    font-size: 45px;
    font-weight: 400; }
  .typography h2 {
    font-size: 34px;
    font-weight: 400; }
  .typography h3 {
    font-size: 24px;
    font-weight: 400; }
  .typography h4 {
    font-size: 20px;
    font-weight: 500; }
  .typography h5 {
    font-size: 15px;
    font-weight: 400; }
    @media screen and (max-width: 768px) {
      .typography h5 {
        font-size: 16px; } }
  .typography h6 {
    font-size: 13px;
    font-weight: 500; }
    @media screen and (max-width: 768px) {
      .typography h6 {
        font-size: 14px; } }
  .typography hr {
    margin-top: 16px;
    margin-right: -16px;
    margin-bottom: 16px;
    margin-left: -16px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .typography ul, .typography ol {
    padding-left: 20px;
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px; }
    .typography ul li, .typography ol li {
      margin-bottom: 4px; }
  .typography a {
    color: #448aff;
    text-decoration: none; }
    .typography a:hover {
      text-decoration: underline; }
  .typography i, .typography em {
    font-style: italic; }
  .typography b, .typography strong {
    font-weight: bold; }
    .typography b.medium, .typography strong.medium {
      font-weight: 500; }
  .typography code {
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 1px 4px;
    margin: 0px 2px; }
  .typography pre {
    margin: 16px 0px;
    white-space: pre-wrap; }
    .typography pre code {
      display: block;
      font-size: 10pt;
      padding: 8px;
      margin: 0px;
      overflow-x: auto; }
  .typography > img {
    border-radius: 2px; }
  .typography::-moz-selection, .typography ::-moz-selection {
    background-color: #82b1ff; }
  .typography::selection, .typography ::selection {
    background-color: #82b1ff; }
  .typography .no-margin {
    margin: 0px; }
  .typography .no-padding {
    padding: 0px !important; }

.mono, .typography code {
  font-family: "Roboto Mono", "Noto Sans Mono", "Droid Sans Mono", monospace; }

.hint {
  color: rgba(255, 255, 255, 0.5); }

.mdl-grid {
  margin: 0px;
  padding: 0px; }
  .mdl-grid .mdl-cell {
    margin: 8px;
    padding: 16px; }

@media (max-width: 479px) {
  .title {
    text-align: center; } }

.title#main-title {
  color: white;
  margin: 0px;
  margin-top: 8px; }
  @media (min-width: 725px) and (max-width: 844px), (max-width: 479px) {
    .title#main-title {
      font-size: 34px;
      font-weight: 400;
      margin-top: 15px; } }
  @media (min-width: 531px) and (max-width: 724px) {
    .title#main-title {
      font-size: 24px;
      font-weight: 400;
      margin-top: 24px; } }
  @media (min-width: 480px) and (max-width: 530px) {
    .title#main-title {
      font-size: 20px;
      font-weight: 500;
      margin-top: 29px; } }

.title#subtitle {
  margin: 0px; }
  @media (min-width: 725px) and (max-width: 844px) {
    .title#subtitle {
      margin-bottom: 6px; } }
  @media (min-width: 531px) and (max-width: 724px) {
    .title#subtitle {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 13px; } }
  @media (min-width: 480px) and (max-width: 530px) {
    .title#subtitle {
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 17px; } }
  @media screen and (min-width: 480px) and (max-width: 530px) and (max-width: 768px) {
    .title#subtitle {
      font-size: 16px; } }
  @media (max-width: 479px) {
    .title#subtitle {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0px; } }

.fill {
  width: 100%; }
  .fill.force {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
    .card > .fill.force {
      height: calc(100% + 32px); }
  .card > .fill {
    width: calc(100% + 32px);
    margin: -16px;
    margin-bottom: -20px;
    border-radius: 2px; }

.card {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white;
  background-color: #424242;
  border-radius: 2px;
  overflow: hidden; }

.aspect-16-9 {
  width: 100%;
  height: 0px;
  padding: 0px;
  padding-top: 56.25% !important; }
  .aspect-16-9 .fill {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
